* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    min-height: 100vh;

    @import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
}

.App {
    width: 36rem;
    min-height: 60rem;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/**************************************************************************/
/* HOME PAGE*/

.home_page {
    width: 34rem;
    height: 34rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
}

.form {
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
}

.input label {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 7px;
    font-family: 'Poppins', sans-serif;
}

.input input {
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    padding: 14px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.button {
    width: 15rem;
    height: 5rem;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 1rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    outline: none;

    background: #fff;
    color: #999;
    border: 2px solid #ebebeb;
}

.submit_button {
    background: #329e5e;
    color: #fff;
}

.submit_button:hover {
    background-color: #267747;
}

/**************************************************************************/
/* REGISTRATION PAGE */

.registration_page {
    width: 34rem;
    height: 50rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
}

.registration_form {
    height: 35rem;
}

/**************************************************************************/
/* Store Page */

.store_page {
    width: 36rem;
    min-height: 64rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.store_header {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-height: 6rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.money_box {
    width: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-size: 1.6rem;
    font-weight: bold;
}

.money_box p {
    display: block;
    padding: 0.2rem;
}

.chart_button {
    width: 10rem;
    height: 4rem;
    margin: 0;
    font-size: 1.2rem;
}

.search_section {
    max-height: 5rem;
    margin-bottom: 5rem;
}

.store_form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searchBook_input {
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  padding: 14px 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.searchBook_button {
  width: 10rem;
  height: 5rem;
  margin: 0;
  font-size: 1.2rem;
}

.book_list {
    width: 35rem;
    max-height: 50rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.book {
    width: 34rem;
    height: 25rem;
    margin-bottom: 4rem;
    position: relative;
    border-bottom: 1px solid #86a5e6;
}

.bookcard_container {
    width: 34rem;
    height: 30rem;


    display: flex;
}

.bookcard_container img {
    width: 128px;
    height: 200px;
}

.bookcard_desc {
    width: 100%;
    padding-left: 2rem;

    display: flex;
    flex-direction: column;

}

.bookcard_desc h2 {
    font-family: 'Arvo', serif;
    font-size: 1.8rem;
    font-weight: bold;
}

.bookcard_desc h3 {
    font-family: 'Arvo', serif;
    font-size: 1.5rem;
}



.add_to_chart_button {
    width: 12rem;
    height: 4rem;
    margin: 0;
    position: absolute;
    bottom: 5%;
    right: 5%;


    background: #526ad8;
    color: #fff;
    font-size: 1rem;
}


/**************************************************************************/
/* Chart Page */

.chart_header {
    width: 100%;
    margin-bottom: 2rem;
    max-height: 6rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clear_button {
    background: #b62020;
    color: #fff;
}

.buy_button {
    background: #267747;
    color: #fff;
}

.chart_list {
    width: 35rem;
    max-height: 50rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}